post{
    
}
.post-header{
    display: flex;
    align-items: center;
    padding: 10px;
    border-bottom: 1px solid #ccc;
    border: box;
}
.post-icon{
    display:flex;
    border: box;

}
body{
    font-family: 'Roboto', sans-serif;
    margin: 0;
    padding: 0;
}

