body {
    display: flex;
    justify-content: center;
    align-items: center;
    min-height: 100vh;
    margin: 0;
    background-color: #000;
    font-family: 'Roboto', sans-serif;
}

.post {
    max-width: 600px;
    width: 100%;
    background-color: #fff;
    padding: 20px;
    border-radius: 10px;
    display: flex;
    flex-direction: column;
    gap: 20px;
    height: 800px; /* Adjust the height to be taller than it is wide */
    position: relative;
}

.post-header {
    display: flex;
    align-items: center;
    gap: 10px;
}

.post-header h2 {
    margin: 0;
    margin-left: 10px;
}

.post-img {
    width: 100%;
    height: 400px; /* Set the height to be the same as the width for a square */
    overflow: hidden;
    border-radius: 10px;
}

.post-img img {
    width: 100%;
    height: 100%;
    object-fit: cover;
    border-radius: 10px;
}

.post-body {
    flex-grow: 1; /* Take up remaining space */
    display: flex;
    flex-direction: column;
    gap: 20px;
}

.post-icon {
    width: 100%;
    display: flex;
    justify-content: space-between;
    align-items: center;
}

.post-icon div {
    display: flex;
    align-items: center;
    gap: 10px;
}

.post-icon p {
    margin: 5px 0;
}

.post-icon p {
    margin: 0;
    line-height: 1.5;
}

.post-icon p:first-child {
    margin-bottom: 10px;
}

.icons {
    position: absolute;
    top: 20px;
    right: 20px;
    display: flex;
    align-items: center;
    gap: 10px;
    flex-grow: 1; /* Take up remaining width */
    justify-content: flex-end; /* Align items to the right */
}

.fa-html5,
.fa-cubes,
.fa-ellipsis-vertical,
.fa-heart,
.fa-comment,
.fa-paper-plane,
.fa-bookmark {
    font-size: 40px; /* Adjust the icon size as needed */
}
.icons i {
    font-size: 40px; /* Adjust the icon size as needed */
}
.fa-bookmark {
    justify-content: flex end; /* Shift the bookmark icon to the right */
}
